apiVersion: v1
kind: Service
metadata:
  name: camunda-workers
  namespace: camunda-workers
spec:
  selector:
    app: camunda-workers
  ports:
  - name: health
    port: 8080
    targetPort: 8080
  - name: metrics
    port: 9090
    targetPort: 9090
  type: ClusterIP